@{
    ViewData["Title"] = "CS295N - Home - Homepage";
}

<div class="z-3 d-flex justify-content-center flex-column flex-lg-row align-items-center fixed-bottom container alert alert-secondary alert-dismissible border-dark-subtle shadow-lg-hack mb-0 mb-lg-4 p-4">
    This site uses cookies.
    <div class="ms-3 mt-3 mt-lg-0">
        <a class="btn btn-lg btn-outline-secondary rounded-0 text-light link-light fw-bold alert-link" href="/home/privacy">Learn more</a>
        <button class="btn btn-lg btn-info rounded-0 text-dark link-dark fw-bold" data-bs-dismiss="alert">Dismiss</button>
    </div>
</div>
<div class="mt-sm-5">
    <h1 class="display-4 fw-bold">Popular Game Engines</h1>
    <br />
    <!-- Unreal Engine -->
    <div id="unrealengine">
        <h3>Unreal Engine</h3>
        <ul>
            <li class="mb-3">
                <strong>Comments:</strong>
                <ul>
                    <li>
                        Unreal Engine 5.2's Nanite demonstration of rendering 71 million polygons in real-time was quite impressive.
                        <a href="/home/references#cit5"><sup>[5]</sup></a>
                        However, Unreal Engine has always had a negative and harsh reputation for requiring high amounts of file space (for instance, requiring up to 1GB or more for an new empty project).
                        And it also has a bad reputation for having long compiling times.
                        Unreal Engine 5.x unfortunately doesn't change any of these negatives, in fact, it arguably increases them.
                        That being said, Unreal Engine is arguably one of the powerful game engines out there, even if it's not the most popular one.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Examples:</strong>
                <ul>
                    <li>
                        Video Games
                        <ul>
                            <li>Fornite</li>
                            <li>Valorant</li>
                            <li>Borderlands (series)</li>
                            <li>Gears of War (series)</li>
                            <li>Batman (series)</li>
                            <li>Splinter Cell (series)</li>
                            <li>Bioshock (series)</li>
                            <li>Unreal Tournament (series)</li>
                            <li>ARK</li>
                            <li>Chivalry (series)</li>
                            <li>etc.</li>
                        </ul>
                    </li>
                    <li>
                        Cinematic VFX / Rendering
                        <ul>
                            <li>Mandalorian (TV show)</li>
                            <li>Matrix 2022 (movie)</li>
                            <li>Ed Sheeran: Bad Habits (music video)</li>
                            <li>etc.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Unity -->
    <div id="unity">
        <h3>Unity</h3>
        <ul>
            <li class="mb-3">
                <strong>Comments:</strong>
                <ul>
                    <li>
                        Formerly one of the most popular choices for creating video games, especially among the indie game development crowd, Unity's user-base has recently had a mass exodus, originating from a recent debacle concerning its royalty policy.
                        <a href="/home/references#cit6"><sup>[6]</sup></a>
                        <a href="/home/references#cit7"><sup>[7]</sup></a>
                        In response to the massive drop in Unity stocks (the Unity CEO has ironically sold a lot of his own Unity stocks before the royalty policy change was officially announced) <a href="/home/references#cit8"><sup>[8]</sup></a>, some legitimate death threats <a href="/home/references#cit9"><sup>[9]</sup></a>, and said mass exodus, the royalty policy was tweaked once again: to include clearer clarifications, to reduce or remove some intentional limitations, and to increase some perks.
                        <a href="/home/references#cit10"><sup>[10]</sup></a>
                        The ironic thing is that most of the Unity community has acted like it's the end of the world, despite the royalty policy only affecting those who have made ~$100,000 in revenue from their game, and the changed policy wouldn't even take effect until the first day of next year.
                        Even more ironic is that later in the open letter to the community, the Unity team announced that none of these changes would even affect those who were still on Unity Personal (free version).
                        Additionally, the new royalty fees would only be subject to those who have made revenue in the past year (12 consecutive months).
                        However, the damage was unfortunately already done and irreversible.
                        Many from the Unity community (not me, I stopped using Unity years ago) felt betrayed and insecure in their choice of game engine, leading many to stop using Unity and seek and migrate to other game engines.
                        Even more recently, the Unity company announced the stepping down of their CEO (either of his own accord or by majority vote of shareholders).
                        <a href="/home/references#cit11"><sup>[11]</sup></a>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Examples:</strong>
                <ul>
                    <li>
                        Video Games
                        <ul>
                            <li>Among Us</li>
                            <li>Pokémon GO</li>
                            <li>Temple Run</li>
                            <li>Beat Saber</li>
                            <li>Escape from Tarkov</li>
                            <li>Battlebit (series)</li>
                            <li>Hollow Knight</li>
                            <li>Superhot</li>
                            <li>Ravensword</li>
                            <li>etc.</li>
                        </ul>
                    </li>
                    <li>
                        Cinematic VFX / Rendering
                        <ul>
                            <li>Adam (short video series)</li>
                            <li>etc.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- CRYENGINE / Amazon Lumberyard -->
    <div id="cryengine">
        <h3>CRYENGINE / Amazon Lumberyard</h3>
        <ul>
            <li class="mb-3">
                <strong>Comments:</strong>
                <ul>
                    <li>
                        While CRYENGINE has created some really cool games, its history is a bit complicated.
                        It was originally created by a company called Crytek.
                        However, in 2015, Amazon purchased a license for ~$50 million to be able to legally clone/copy CRYENGINE source from CryTek.
                        This act saved CryTek from having to file for bankruptcy.
                        Then, in 2016, Amazon released its own game engine called Amazon Lumberyard, which was based on CRYENGINE source.
                        The confusing part is that CRYENGINE is still being actively developed by Crytek and independent (to my knowledge) of Amazon Lumberyard.
                        While this concept may seem a bit confusing, it personally makes sense to me.
                        Microsoft did the same for Apple back in 1997, when they invested $150 million in Apple shares to prevent the latter from going bankrupt.
                        Microsoft later sold those shares back to Apple for $550 million.
                        Personally, I think people don't like using software that they believe may have the possibility of going bankrupt again.
                        To confuse CRYENGINE development even more so, Amazon Lumberyard has its own active fork called Open 3D Engine (OD3D for short), which was initially created in 2021.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Examples:</strong>
                <ul>
                    <li>
                        Video Games
                        <ul>
                            <li>Far Cry (series, cryengine)</li>
                            <li>Crysis (series, cryengine)</li>
                            <li>Sniper (series, cryengine)</li>
                            <li>Star Citizen (amazon lumberyard)</li>
                            <li>Prey</li>
                            <li>etc.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Godot Engine -->
    <div id="godotengine">
        <h3>Godot Engine</h3>
        <ul>
            <li class="mb-3">
                <strong>Comments:</strong>
                <ul>
                    <li>
                        Godot's engine development and user-base has grown quite considerably the past couple of years.
                        Its free and open source nature (it wasn't FOSS in the beginning) has been especially tantalizing to the indie game development crowd.
                        Because of this, both Godot and Unity have been unofficial competitive rivals, each vying for the attention of the average indie game developer.
                        Unity's recent debacle however, has led many to officially decide to switch from Unity to Godot, including many prominent and long-term Unity supporters.
                        Godot, in the past years have also had the support from another well-known FOSS project, Blender, and have openly supported each other.
                        While Godot development has always been supported via financial (or engine) contributions, the financial donations themselves weren't consistent (monthly).
                        To solve this, last July, the Godot Foundation officially announced a Godot Development Fund where monthly financial donations could be sent to help with engine development.
                        In response to the recent debacle pertaining to Unity's' announcement about their changed royalty policy, the Godot Foundation also made an announcement of their own, stating that they had reached a milestone of 50,000€ (52,932.50 USD) per month, pledged by members of the community: that's 600,000€ (635,190.00 USD).
                        Personally, I think that's pretty impressive, considering that they only began to have dedicated/consistent monthly donations since July.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Examples:</strong>
                <ul>
                    <li>
                        Video Games
                        <ul>
                            <li>Human Diaspora</li>
                            <li>Rogue State Revolution</li>
                            <li>Circle of Kerzove (WIP)</li>
                            <li>Pingo Adventure (WIP)</li>
                            <li>etc.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- And More -->
    <div id="more">
        <h3>And More...</h3>
    </div>
</div>
