@{
    ViewData["Title"] = "CS295N - Home - Overview";
}

<div class="mt-sm-5">
    <h1 class="display-4 fw-bold">@ViewData["Title"]</h1>
    <br />
    @* Game Engine *@
    <div id="game-engine">
        <h3>What is a game engine</h3>
        <ul class="py-3">
            <li>
                A game engine is a software framework primarily designed for the development of video games and generally includes relevant libraries and support programs such as a level editor.
                <a href="/home/references#cit1"><sup>[1]</sup></a>
            </li>
        </ul>
    </div>
    @* Scripting *@
    <div id="scripting">
        <h3>What is scripting</h3>
        <ul class="py-3">
            <li>
                A game engine is a software framework primarily designed for the development of video games and generally includes relevant libraries and support programs such as a level editor.
                <a href="/home/references#cit2"><sup>[2]</sup></a>
            </li>
        </ul>
    </div>
    @* Visual programming *@
    <div id="visual-programming">
        <h3>What is visual programming</h3>
        <ul class="py-3">
            <li>
                A visual programming language (visual programming system, VPL, or, VPS) or block coding is a programming language that lets users create programs by manipulating program elements graphically rather than by specifying them textually.
                <a href="/home/references#cit3"><sup>[3]</sup></a>
            </li>
        </ul>
    </div>
    @* Indie game *@
    <div id="indie-game">
        <h3>What is an indie game</h3>
        <ul class="py-3">
            <li>
                An indie game, short for independent video game, is a video game typically created by individuals or smaller development teams without the financial and technical support of a large game publisher.
                <a href="/home/references#cit4"><sup>[4]</sup></a>
            </li>
        </ul>
    </div>
</div>
