@{
    ViewData["Title"] = "CS296N - Home - Overview";
}

<div class="m-5 lg:mx-0 lg:my-20">
    <h1 class="text-4xl font-black mb-10">@ViewData["Title"]</h1>
    @* Game Engine *@
    <div id="game-engine" class="mb-10">
        <h3 class="text-2xl font-black">What is a game engine</h3>
        <ul class="text-[rgb(75%,75%,75%)] my-3">
            <li>
                A game engine is a software framework primarily designed for the development of video games and
                generally includes relevant libraries and support programs such as a level editor.
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLink { URL="/home/references#cit1", Body="<sup>[1]</sup>" }' />
            </li>
        </ul>
    </div>
    @* Scripting *@
    <div id="scripting" class="mb-10">
        <h3 class="text-2xl font-black">What is scripting</h3>
        <ul class="text-[rgb(75%,75%,75%)] my-3">
            <li>
                A game engine is a software framework primarily designed for the development of video games and
                generally includes relevant libraries and support programs such as a level editor.
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLink { URL="/home/references#cit2", Body="<sup>[2]</sup>" }' />
            </li>
        </ul>
    </div>
    @* Visual programming *@
    <div id="visual-programming" class="mb-10">
        <h3 class="text-2xl font-black">What is visual programming</h3>
        <ul class="text-[rgb(75%,75%,75%)] my-3">
            <li>
                A visual programming language (visual programming system, VPL, or, VPS) or block coding is a programming
                language that lets users create programs by manipulating program elements graphically rather than by
                specifying them textually.
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLink { URL="/home/references#cit3", Body="<sup>[3]</sup>" }' />
            </li>
        </ul>
    </div>
    @* Indie game *@
    <div id="indie-game">
        <h3 class="text-2xl font-black">What is an indie game</h3>
        <ul class="text-[rgb(75%,75%,75%)] my-3">
            <li>
                An indie game, short for independent video game, is a video game typically created by individuals or
                smaller development teams without the financial and technical support of a large game publisher.
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLink { URL="/home/references#cit4", Body="<sup>[4]</sup>" }' />
            </li>
        </ul>
    </div>
</div>
