@{
    ViewData["Title"] = "CS295N - Home - Privacy";
    ViewData["Link_privacy"] = "https://azure.microsoft.com/en-us/explore/trusted-cloud/privacy";
}

<div class="mt-sm-5">
    <h1 class="display-4 fw-bold">@ViewData["Title"]</h1>
    <br />
    <a href=@ViewData["Link_privacy"]>@ViewData["Link_privacy"]</a>
</div>
