@{
    ViewBag.Title = "CS296N - Home - Privacy";
    ViewBag.Link_privacy = "https://www.smarterasp.net/privacy";
    ViewBag.Link_cookies = "https://www.smarterasp.net/cookies";
}

<div class="m-5 lg:mx-0 lg:my-20">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <ul class="text-[rgb(75%,75%,75%)]">
        <li class="mb-3">
            [1]
            <partial name="~/views/shared/htmllink.cshtml"
                model='new HtmlLink { URL=@ViewBag.Link_privacy.ToString(), Body=@ViewBag.Link_privacy.ToString() }' />
        </li>
        <li>
            [2]
            <partial name="~/views/shared/htmllink.cshtml"
                model='new HtmlLink { URL=@ViewBag.Link_cookies.ToString(), Body=@ViewBag.Link_cookies.ToString() }' />
        </li>
    </ul>
</div>
