:root {
    font-family: 'Inter', sans-serif;
}

/*
.dropdown-menu li a:hover,
.dropdown-menu li a:active {
	color: black !important;
	background-color: #87CEEB !important;
}*/

.shadow-hack {
    /* Flip vertical direction	*/
    --tw-shadow: 0 -25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/*
@media (min-width: 992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.2s linear;
	}

	.dropdown:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.2s linear;
	}
*/

/* Custom workaround for - https://github.com/twbs/bootstrap/issues/36897 */
/*.dropdown-menu {
		right: auto !important;
		left: 50% !important;
		margin: 0 !important;
		padding: 0 !important;
		transform: translate(-50%, 0) !important;
	}
}*/
