<a class='@(@Model.Navlink ? @Model.Dropdown ? "flex items-center justify-center text-sm text-[rgb(75%,75%,75%)] hover:text-white lg:border-[1px] lg:border-[rgb(25%,25%,25%)] lg:hover:border-[rgb(50%,50%,50%)] p-6 lg:px-4" : "flex items-center text-sm hover:text-white p-6 lg:px-4" : "text-cyan-400 hover:text-cyan-300")'
    href=@Model.URL>@Html.Raw(@Model.Body)</a>
